<h1>Admin - Categories</h1>

<div class="well well-sm">
  {{#bs-form formLayout="inline" action="addNewCategory" model=newCategoryName}}
    {{bs-form-element label="New category:" placeholder="Category name" value=newCategoryName}}
    {{bs-button defaultText="Add" type="primary" buttonType="submit"}}
  {{/bs-form}}
</div>

<table class="table table-striped">
  <caption>List of categories</caption>
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  {{#each model as |category|}}
    <tr>
      <td>{{category.id}}</td>
      <td>{{category.name}}</td>
      <td>
        <button class="btn btn-xs btn-danger" {{action 'deleteCategory' category}}>Del</button>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>

Number of categories: {{model.length}}