<h1>Admin - Products</h1>

<div class="well well-sm">
  {{#bs-form formLayout="inline" action="addNewProduct" model=newProduct}}
    {{bs-form-element label="Product name:" placeholder="Product name" value=newProduct.name}}
    {{bs-form-element label="SKU:" placeholder="SKU" value=newProduct.sku}}
    {{bs-form-element label="Unit price:" placeholder="Unit price" value=newProduct.unitPrice}}
    {{bs-button defaultText="Add" type="primary" buttonType="submit"}}
  {{/bs-form}}
</div>

{{#if newProduct.isError}}
  Error!!
  {{#each newProduct.errors as |error|}}
    {{error}}
  {{/each}}
{{/if}}

<table class="table table-striped">
  <caption>List of products</caption>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>SKU</th>
      <th>Unit price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |product|}}
      {{#unless product.isNew}}
        <tr>
          <td>{{product.id}}</td>
          <td {{action 'editProduct' product}}>
            {{#if product.isEditing}}
              {{input value=product.name}}
            {{else}}
              {{product.name}}
            {{/if}}
          </td>
          <td {{action 'editProduct' product}}>
            {{#if product.isEditing}}
              {{input value=product.sku}}
            {{else}}
              {{product.sku}}
            {{/if}}
          </td>
          <td {{action 'editProduct' product}}>
            {{#if product.isEditing}}
              {{input value=product.unitPrice}}
            {{else}}
              {{product.unitPrice}}
            {{/if}}
          </td>
          <td>
            {{#if product.isEditing}}
              <button class="btn btn-xs btn-success" {{action 'updateProduct' product}}>Save</button>
              <button class="btn btn-xs btn-info" {{action 'cancelEditing' product}}>Cancel</button>
            {{else}}
              <button class="btn btn-xs btn-danger" {{action 'deleteProduct' product}}>Del</button>
              <button class="btn btn-xs btn-default" {{action 'editProduct' product}}>Edit</button>
            {{/if}}
          </td>
        </tr>
      {{/unless}}
    {{/each}}
  </tbody>
</table>